## Basics
- operators
  - arithmetic
  - assingment
  - comparison
  - logical
  - identity `is`
  - membership `in`
  - bitwise
- variables
- datatypes
- keywords
- io

In [ ]:
2 + 2

In [ ]:
23901830213120938109310293819022312093812309981312 + 34893492838129389121923812938

arithmetic operator
```
* / // ** %
+ -
```

In [ ]:
21390 * 20

In [ ]:
10/3

In [12]:
10 // 3

3

In [11]:
10 ** 3

1000

In [2]:
12 + 4 * 2

20

assingment operator
`= += -= *= /= //= %= **=`

In [6]:
x = 101
y = 2.3910
z = False
a = None

In [11]:
x = 5   # direct assignment
x += 10 # update assignment
x -= 2
x *= 3
name = "Zaid Kamil"
name += "üëç"

In [12]:
a = 12
b = 13
c = a + b

conditional operator
```
<  
<=  
>
>=
== 
!=
```

In [13]:
a > 10

True

In [15]:
a < a-5

False

In [16]:
a = 10
b = 3

In [17]:
a > b

True

In [18]:
a < b

False

In [28]:
a < b < 10

False

logical operator
```
and
or 
not
```

In [31]:
a = 10
b = 20
a < b and b < 30
a > b or b > 20

False

In [32]:
print(a < b and b < 30)
print(a > b or b > 20)
print(not a > b)

True
False
True

In [37]:
fruits = ['apple', 'banana', 'cherry']
print('apple' in fruits)
print('orange' in fruits)
print('orange' not in fruits)
print('banana' not in fruits)

True
False
True
False

In [40]:
x = 20
y = x
print(x, y)
print(x == y) # value equality
print(x is y) # reference equality

name = "Zaid"
name2 = "Zaid"
print(name == name2)
print(name is name2)

20 20
True
True
True
True

In [1]:
x = [1, 2, 3]
y = x # reference copy
z = x.copy() # value copy
print(x is y)
print(x is z)
print(x == z)
print(x == y)

True
False
True
True

Datatypes (9)
- integers      `int`
- float         `float`
- boolean       `bool`
- None          `NoneType`
- string        `str`
- list          `list`
- tuple         `tuple`
- set           `set`
- dictionary    `dict`

In [2]:
coords = (10, 20, 32)
names = {'Alex', "Alan", "Alice", "Arti"}
info = {'name': 'Zaid', 'age': 20, 'city': 'Kuala Lumpur'}

In [3]:
del x # delete x from the memory