In [ ]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## reading data

In [ ]:
# dict of lists
info = {
    'names': ['Suraj','Shiv','Shivi','Anjali','Sunny'],
    'age' : [19, 5, 21, 20, 22],
    'height' : [5.23, 3.5, 5.1, 5.9, 6.1],
}
d1 = pd.DataFrame(info)
d1

In [ ]:
d2 = pd.read_csv('datasample.csv')
d2

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
df = pd.read_excel('Canada.xlsx', 
    sheet_name=1,
    skiprows=20,
    skipfooter=2
)
df

## looking at the data
- head(n) - top n rows of the data
- tail(n) - bottom n rows of the data
- sample(n) - random n samples of the data
- info() - column wise datatypes
- describe() - summary statistics of the data

In [ ]:
df.head(2)

In [ ]:
df.tail()

In [ ]:
df.sample(3)

In [ ]:
df.info()

In [ ]:
df.describe() # numerical columns

In [ ]:
df.describe(include='object')

## column wise data

In [ ]:
df.columns

In [ ]:
df['AreaName'] # series object

In [ ]:
# multiple columns
df[['AreaName', 'RegName']] # dataframe object

In [ ]:
years = list(range(1980, 2014))
df[years]

In [ ]:
df[['OdName',1980,1990,2000,2010]]

In [ ]:
# row wise access using loc and iloc
df.loc[1] # label wise location

In [ ]:
df.iloc[1] # index wise location

In [ ]:
df.iloc[:10, [0,1,2,3,4]] # column should be indexes

In [ ]:
df.loc[:10, ['OdName',1980,1990,2000,2010]] # column should be labels

## manipulating data

In [48]:
d2['english'] + d2['math'] + d2['science']

0    201
1    246
2    257
3    235
dtype: int64

In [50]:
d2['total'] = d2['english'] + d2['math'] + d2['science']
d2

     name  english  math  science  total
0   arjun       45    67       89    201
1  jyothi       67    89       90    246
2     sai       89    90       78    257
3     sri       90    78       67    235