# set
- create
- method

In [ ]:
x = set() # empty
print(x)
y = {1,2,3,4,5,6,1,2}
print(y)
fruits = {"apple", "banana", "cherry"}
print(fruits)
data = {'apple',205, 3.14, 'banana'}
print(data)
a = set([1,2,3,4,5,6,7,8,9,10])
b = set("harry potter")
print(a)
print(b)

In [ ]:
a = set()
a.add("The final empire")
a.add("The hero of ages")
a.add("The well of ascension")
print(a)

In [ ]:
a.update(['AppleSeed','ApplePie','AppleCider'])
print(a)

In [ ]:
a.add("AppleSeed") # not added
print(a) # no duplicates

In [ ]:
a.discard("AppleSeed")
a.discard("ApplePie") # no error
a.discard("AppleSeed")
print(a)

In [ ]:
a = {1,2,3}
b = {3,4,5}
c = {6,7,8}
ab = a.union(b)
print(ab)
print(a.union(b,c))
print(a | b | c) # | is union

In [ ]:
print(a.intersection(b))
print(a & b) # & is intersection
print(a & c)
print(a & b & c)

In [ ]:
print(a.difference(b))
print(b.difference(a))
print(a - b) # - is difference

In [ ]:
print(a.symmetric_difference(b))
print(a ^ b) # ^ is symmetric difference

# Dictionary

In [ ]:
data = ["Alex", True, False, 29, "New York", "Photographer"]

datadict = {
    'name': 'Alex',
    'isMarried': True,
    'hasChildren': False,
    'age': 29,
    'city': 'New York',
    'profession': 'Photographer'
}

movies = {} # empty dictionary

expenditure = dict(
    food = 500,
    rent = 1700,
    insurance = 200,
)

print(datadict)
print(expenditure)

- creating âœ…
- accessing
- add or update
- remove
- traversal

In [ ]:
print(datadict['name'])
print(datadict['isMarried'])
print(datadict['city'])
# print(datadict['state']) # KeyError

In [ ]:
print(datadict.get('city'))
print(datadict.get('City'))     # City is not in the dictionary
print(datadict.get('age', 100)) # default value not used
print(datadict.get('AGE', 100)) # AGE is not in the dictionary

In [ ]:
movies['Deadpool & Wolverine'] = "Shawn Levy" 
movies['BahuBali'] = "SS Rajamouli"
movies['Inception'] = "Christopher Nolan"
print(movies)

In [ ]:
movies.update(
    {
    'The Dark Knight': 'Christopher Nolan', 
    'The Prestige': 'Christopher Nolan',
    'The Matrix': 'Wachowski Brothers',
    }
)
print(movies)

In [ ]:
datadict['name'] = 'Alexander'
print(datadict)

In [ ]:
movies.pop("BahuBali")

In [ ]:
movies

for loop in dict will iterate over keys

In [ ]:
for item in datadict:
    print(item)

In [ ]:
for item in datadict:
    print(datadict[item])

In [ ]:
for k,v in datadict.items():
    print(k, v)

In [ ]:
movies.keys()

In [ ]:
movies.values()

nested dictionary

In [ ]:
report = {
    '01' : {
        'name' : "Alex",
        'subjects' : {
            'maths' : 90,
            'science' : 85,
            'english' : 95
        }
    },
    '02' : {
        'name' : "John",
        'subjects' : {
            'maths' : 80,
            'science' : 75,
            'english' : 85
        }
    },
}

In [ ]:
report['02']['subjects']['english']

In [ ]:
from pprint import pp

In [ ]:
pp(report)

In [ ]:
rainfall_data = {
    'year' : [2019, 2020, 2021, 2022, 2023],
    'rainfall' : [100, 200, 150, 300, 250]
}
print(rainfall_data)